@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
div > p {
    background-color: aqua;
}

#d1 > p {
    display: none;
}

#d1:hover {

    background-color: red;
    

}
#d1:hover > p {
    display: block;
}