@charset "UTF-8";
@font-face {
    font-family:'PassionOne' ;
    src: url(fontes/Passion_One/PassionOne-Bold.ttf) format(truetype), url(fontes/Passion_One/PassionOne-Black.ttf) format(truetype);
}
@font-face {
    font-family:'Sriracha' ;
    src: url(fontes/Sriracha/Sriracha-Regular.ttf) format(truetype);
}
:root {
    
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}

body{
    margin:0;
}

header{
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;



}
header h1{
    margin: auto;
    font-family: 'PassionOne', sans-serif;
    font-size: 7em ;
   

    
}
header p{
    font-family: Arial, Helvetica, sans-serif;
}

section {
    font-family: 'Sriracha';
    font-size: 2.5em;
    padding-left: 30px;
}

#segundaestrofe{
    background-image: url(imagens/background001.jpg);
}
#segundaestrofe p{
    background-color: rgba(0, 0, 0, 0.567);
    margin-right: 40%;
    color: white;
    padding-top: 30px;
}
